---
permission:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

name: broken-link-check
jobs:
  check:
    name: broken-link-check
    runs-on: ubuntu-latest
    steps:
      - name: broken-link-check
        id: link-report
        uses: celinekurpershoek/link-checker@v1.0.3
        with:
          url: "https://..."
          ignorePatterns: "github,google"
          recursiveLinks: false
